@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/background-leaf.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #fff;
    color: #333333;
    display: flex;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 40px;
    color: #588D04;/* #408b04; */
    font-family: 'Bebas Neueu', sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

p {
    opacity: 0.8;
}

img {
    max-width: 100%;
}

.resize {
    width: 50%;
    opacity: 0.8;
}
.container {
    margin: auto;
    max-width: 100%;
    width: 1200px;
}

.box-product  img{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

.flex {
    display: flex;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
}

.flex > div { 
    flex: 1;
}

.flex > div:first-child {
    margin-top: 13px;
    flex: 0.7;
    margin-right: 20px;
}

.flex > div:last-child {
    flex: 0.3;
    margin-left: 20px;
}

.box-info {
    padding: 5px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #568E03;
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 15x 40px;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
}

.social-links a {
    border-radius: 50%;
    border: 2px solid #408b04;
    color: #408b04;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

/* Typhography box */

.box-font-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .flex > div:first-child {
        flex: 1;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .flex > div:last-child {
        flex: 1;
        margin-left: 0;
        text-align: left;
    }

    .social-links {
        justify-content: center;
    }

    .box-product  img{
        opacity: 1;
    }

    .box-info {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 0 30px;
    }

    .resize {
        margin-top: 40px;
        margin-left: 40px;
        width: 80%;
        opacity: 0.8;
    }

}

